# Ignore everything
/*

!.gitignore
!.gitignore_global

!README.md
!screenshot.png

# Include shell scripts
!bootstrap.sh
!commands.sh

# Include top level dotfiles
!.zshrc
!.Xresources

# Include config specific folders
!.config/alacritty
!.config/bspwm
!.config/colorschemes
!.config/nvim
!.config/polybar
!.config/rofi
!.config/sxhkd
!.config/zsh
